

span {
	font-size: 20px;
	font-weight: bold;
	color: blue;
}


#title {

}

#subtitle {

}

#nav.active {

}

#nav.nav_item {

}

#nav.sub_nav {

}

#layout {

}

#main_content {

}


p.firstwordwrap {
	
}

p.excerpt {

}

.planets {

}




#side_content {

}



